config.h
config.log
config.status
libtool
Makefile
stamp-h1
lib*.a
*.o
*.lo
*.la
.deps/
.libs/
bin/xanne
bin/xjoyce
SdlTerm/psf2inc
SdlTerm/test
LibDsk/lib/uk_co_demon_seasip_libdsk_*.h
LibDsk/tools/apriboot
LibDsk/tools/check1
LibDsk/tools/check2
LibDsk/tools/check3
LibDsk/tools/dskconv
LibDsk/tools/dskdump
LibDsk/tools/dskform
LibDsk/tools/dskid
LibDsk/tools/dsklabel
LibDsk/tools/dskscan
LibDsk/tools/dsktest
LibDsk/tools/dsktrans
LibDsk/tools/dskutil
LibDsk/tools/forkslave
LibDsk/tools/lsgotek
LibDsk/tools/md3serial
LibDsk/tools/serslave
LibLink/examples/events
LibLink/examples/llmaster
LibLink/examples/llslave
LibLink/examples/lltest
LibLink/examples/partest
LibLink/examples/precho
LibLink/examples/prhello
LibLink/lib/uk_co_demon_seasip_liblink_*.h